doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical
    p Hey, whatcha watching? Michelle, I don't regret this, but I both rue and lament it. Soon enough. I am the man with no name, Zapp Brannigan! It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you?